.Header {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(36, 78, 177);
    background: linear-gradient(180deg, rgba(36, 78, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.Header>nav {
    padding: 30px 80px;
    display: flex;
    gap: 20px;
}

.Header>nav>a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 7px 12px 10px 12px;
}