.Container {
    padding: 40px 120px;
}

.Image {
    width: 900px;
    height: 420px;
    background-size: 100%;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image>h1 {
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 50px;
    text-shadow: 1px 1px 2px black;
}